.btnDay {
  float: left;
  border: none;
  width: 52px;
  height: 51px;
  background: var(--unnamed-color-fdd000) 0% 0% no-repeat padding-box;
  background: #272829 0% 0% no-repeat padding-box;
  color: white;
  opacity: 1;
}
