.btnCloseWindow {
}
.windowForm {
  height: 100px;
  width: 400px;
  background-color: blueviolet;
}
.windowForm label {
  padding-left: 50px;
  float: left;
}
.inputForm {
  width: 100px;
  height: 20px;
}
