.container div {
  float: left;
}
$ptBtnDays: 20%;
$plBtnDays: 10%;
.imgCalendar {
  top: 172px;
  left: 0px;
  width: 920px;
  height: 908px;
  opacity: 1;
}
.containerMonthAndYear {
  width: 100%;
}

.CalendarDiv {
  top: 172px;
  left: 1225px;
  width: 704px;
  height: 645px;
  background: #272829 0% 0% no-repeat padding-box;
  opacity: 1;
}
.containerDaysMonth {
  width: 370px;
  height: 400px;
  padding-top: $ptBtnDays;
  padding-left: $plBtnDays;
}
