.spanMonth {
  color: white;
}
.prevBtnMonth {
  height: 30px;
  width: 30px;
  color: white;
  background-color: #272829;
  border: none;
}
.nextBtnMonth {
  height: 30px;
  width: 30px;
  color: white;
  background-color: #272829;
  border: none;
}
.nextBtnMonth :hover {
  color: white;
  background-color: #272829;
}
